/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {

    list-style-type: none;
    padding-left: 0;
}

/****** Police ******/
h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 16px;
}

header img {
    width: 61.09px;
    height: 19px;
}

header {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header nav {
    width: 344px;
    height: 48px;
    display: flex;
    justify-content: center;
}

header nav ul {
    width: 244px;
    display: flex;
    justify-content: space-between;
}

#hebergements-anchor:hover {
    border-top:  2px solid var(--main-color);
    padding-top: 14px;
    color: var(--main-color);
}

#activites-anchor:hover {
    border-top:  2px solid var(--main-color);
    padding-top: 14px;
    color: var(--main-color);
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    margin: 0px;
}

.fa-solid {
    color: var(--main-color);
}

/* body {
    display: flex;
    justify-content: center;
} */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Formulaire de recherche ******/
form {
    width: 360px;
    height: 48px;
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    overflow: visible;
}

#localisation-div {
    height: 48px;
    width: 50px;
    min-width: 40px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#lieux-input {
    width: 195px;
    border: none;
    padding-left: 24px;
    font-size: 18px;
    font-weight: bold;
}

#lieux-input::placeholder {
    color: black;
}

#search-button {
    height: 48px;
    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    z-index: 2;
}

#search-button-phone {
    display: none;
}

#hebergements-search h1{
    margin-bottom: 8px;
}

#hebergements-search {
    padding-bottom: 35px;
}

/****** Filtres ******/
#filtres {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

#filtre-title {
    margin-right: 15px;
}

 #all-filtre-button {
    display: flex;
 }


.filtre-button {
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    border: 2px solid var(--main-bg-color);
    margin-right: 15px;
    padding-left: 19px;
    padding-right: 19px;    
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.filtre-button img {
    padding-right: 10px;
}

.filtre-button:hover {
    background-color: var(--filter-bg-color);
    transition: 0.3s;
}

/******Partie information juste en dessous des filtres ******/
#information {
    display: flex;
    align-items: center;
}

#information img {
    box-sizing: content-box;
    height: 14px;
    width: 4px;
    border: 1px solid var(--main-bg-color);
    border-radius: 24px;
    padding: 5px 10px;
    margin-right: 10px;
}

.card {
    background-color: white;
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: bold;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.section-title {
    font-size: 22px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hebergements-cards img {
    width: 100%;
    height: 122px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0px;
}
.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.hebergements-cards .card-subtitle {
    margin: 5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    margin-left: 5px;
}

#afficher-plus-link {
    font-size: 18px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    height: 136px;
    width: 33%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ******/
.activites-title {
    margin-bottom: 30px;
}

#activites {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 30px;
}

.activites-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
}

.activites-cards .card {
    width: 100%;
    border: none;
    padding: 0px;
}

.activites-cards .card-content {
    padding-bottom: 25px;
}

.activites-cards img {
    width: 100%;
    aspect-ratio: 297.5/380;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 0px;
}
.activites-cards .card-title {
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: 19px;
}

/****** Footer ******/
footer {
    padding: 20px;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer div li {
    margin-top: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
 
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #filtres {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    #filtre-title {
        margin-bottom: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card {
        margin-top: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    main {
        padding-right: 0;
    }

    .main-container {
        padding: 0;
    }

    /****** Header *******/
    header {
        height: auto;
        flex-direction: column;
    }

    #logo {
        margin: 30px;
    }

    #hebergements-anchor:hover {
        color: var(--main-color);
        border-top:  none;
        padding-top: 0;
    }
    
    #activites-anchor:hover {
        border-top:  none;
        padding-top: 0;
        color: black;
    }
    header nav {
        width: 100%;
        max-width: 375px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    header nav ul {
        width: 100%;
    }

    header nav ul li {
        width: 100%;
    }

    #hebergements-anchor{
        color: var(--main-color)
    }

    #hebergements-button-for-phone, #activites-button-for-phone {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
    
    #hebergements-button-for-phone {
        border-bottom: 2px solid var(--main-color);
    }

    #activites-button-for-phone {
        border-bottom: 2px solid var(--filter-bg-color);
    }

    /****** Formulaire de recherche ******/
    #hebergements-search {
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /****** Filtres ******/
    form {
        position: relative;
        border-right: 20px;
        width: 100%;
    }

    #search-button {
        display: none;
    }

    #search-button-phone {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 49px;
        display:block;
        background-color: var(--main-color);
        border-radius: 15px;
        border: none;
        filter: drop-shadow(0 4px 4px rgba(0,0,0,0.25));
    }

    #all-filtre-button {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        font-size: 30px;
    }

    .filtre-button {
        margin-top: 10px;
        margin-right: 0;
        width: 100%;
        font-size: 14px;

    }

    #filtre-title {
        margin-bottom: 10px;
    }

    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    section.populaires {
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 0;
    }

    .populaires-cards {
        width: 100%;
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .hebergements-cards {
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    #hebergements {
        padding-bottom: 20px;
        background-color: white;
    }

    /****** Activités *****/
    .activites-cards {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        gap: 15px;
       }

    .activites-cards img {
        height:200px;
    }

    /***** Footer *****/
    footer {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        padding-left: 30px;
        gap: 20px;
    }

    footer div {
        margin-top: 30px;
    }
}